
<div class="list-group">
    <a class="list-group-item list-group-item-action align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{$Title}}</h3>
        </div>
        <small class="float-right">Total: {{$IDs ? $IDs.length : 0}}</small>
    </a>
    <a *ngIf="!$IDs || $IDs.length == 0" class="list-group-item list-group-item-light">
        Empty - Please Select
    </a>
    <a *ngIf="!$Data && $IDs.length" class="list-group-item list-group-item-light">
        Loading ...
    </a>
    <study-listitem *ngFor="let item of $Data, let i = index" id="{{item.$Id}}" [$Item]="item"></study-listitem >
</div>
