<div>

  <div class="container">
  <table class="table table-striped">
    <thead>
        <tr>
          <th width="40%">Date</th>
          <th width="35%">Mood Message</th>
          <th width="20%">HPWL Values</th>
          <th width="5%">Mood</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of diary.Entries" (click)="open_diary_entry($event)">
        <td width="40%">{{ entry.Date }}</td>
        <td width="35%">{{ entry.HWPL_Text }}</td>
        <td width="20%">{{ entry.HWPL_Value["H"] }},{{ entry.HWPL_Value["W"] }},{{ entry.HWPL_Value["P"] }},{{ entry.HWPL_Value["L"] }}</td>
        <td width="5%">{{ entry.Mood }}</td>
      </tr>
    </tbody>
  </table>
</div>

</div>
