<div>
  <h1>Agile Fluency</h1>#
  <p>How Agile are you?</p>
  <p>Lets find out the topics which are of interest to you!</p>
  <div>Count of Questions {{Questions.length}}</div>
  <ul>
    <li *ngFor="let item of Questions; let i = index">
      <div [ngSwitch]="getType(item)"> 
          <Rank-Component *ngSwitchCase="'Rank'" [Question]="item"></Rank-Component>
          <Compare-Component *ngSwitchCase="'Compare'" [Question]="item"></Compare-Component>
          <span *ngSwitchDefault>{{getType(item)}} {{item.Text}}</span>
      </div>
    </li>
  </ul>
</div>
