<div>
  <div id="mood_title">
    <h1>How do you feel?</h1>
  </div>

  <div id="input_mood">
    <input class="form-control" id="HWPL_Text" type="text" [value]="entry.HWPL_Text" placeholder="tired, dick, depressed">
  </div>

  <div id="barometer_title">
    <h1>Feeling Barometer</h1>
  </div>

  <div id="progress_bars">
    <div class="row">
      <div class="col-3 mood_label">
        Liabilities
      </div>
      <div class="col-9 mood_slider">
        <mat-progress-bar mode="determinate" id="liabilities_bar" class="mood_bar" (mousedown)="onChangeValue($event,'W')" [value]="entry.HWPL_Value['W']"></mat-progress-bar>
      </div>
    </div>

    <div class="row mood_row">
      <div class="col-3 mood_label">
        Health
      </div>
      <div class="col-9 mood_slider">
        <mat-progress-bar mode="determinate" id="health_bar" class="mood_bar" (mousedown)="onChangeValue($event,'H')" [value]="entry.HWPL_Value['H']"></mat-progress-bar>
      </div>
    </div>

    <div class="row mood_row">
      <div class="col-3 mood_label">
        Fun
      </div>
      <div class="col-9 mood_slider">
        <mat-progress-bar mode="determinate" id="fun_bar" class="mood_bar" (mousedown)="onChangeValue($event,'P')" [value]="entry.HWPL_Value['P']"></mat-progress-bar>
      </div>
    </div>

    <div class="row mood_row">
      <div class="col-3 mood_label">
        Love
      </div>
      <div class="col-9 mood_slider">
        <mat-progress-bar mode="determinate" id="love_bar" class="mood_bar" (mousedown)="onChangeValue($event,'L')" [value]="entry.HWPL_Value['L']" value="50"></mat-progress-bar>
      </div>
    </div>

  </div>

  <div class="row smileys">
    <div class="col-3">
      <button id="cold_face" (click)="click_cold()"><img src="./assets/faces/cold.png"/></button>
    </div>
    <div class="col-3">
      <button id="sick_face" (click)="click_sick()"><img src="./assets/faces/sick.png"/></button>
    </div>
    <div class="col-3">
      <button id="happy_face" (click)="click_happy()"><img src="./assets/faces/happy.png"/></button>
    </div>
    <div class="col-3">
      <button id="super_face" (click)="click_super()"><img src="./assets/faces/super.png"/></button>
    </div>
  </div>

  <div id="submit_area">
    <button class="btn btn-secondary" id="submit_button" (click)="onSubmit()">Submit Data</button>
  </div>



</div>
