#mood_title{
  padding-top: 5%;
  padding-left: 5%;
}


#input_mood{
  width:85%;
  padding-top: 5%;
  padding-left: 5%;
  font-size: 36px;
}


#barometer_title{
  padding-top: 10%;
  padding-left: 5%;
}


.mood_label{
  padding-left: 8%;
  padding-top: 2%;
  font-size: 24px;
}

.mood_slider{
  padding-left: 8%;
  padding-top: 2%;
  font-size: 24px;
}

.mood_bar{
  color: #87f2a7;
  width: 75%;
  height: 120%;
  padding-top: 0%;
  padding-left: 2%;
}

.mood_row{
  padding-top: 7%
}

.smileys{
  padding-top: 10%;
}

.selected{
  border-width: thick;
  border-color: black;
}


/**/
