<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">
        <img src="./assets/cancer_logo.png" height="25" class="d-inline-block align-top" alt="">
    </a>
    <a class="nav-link" [routerLink]="['/Home']" href="" ><i class="fa fa-fw fa-home" title="Home"></i></a>
    <a class="nav-link" [routerLink]="['/Dashboard']" href="" ><i class="fa fa-fw fa-tachometer" title="Dashboard"></i></a>
    <a class="nav-link" [routerLink]="['/Diary']" href="" ><i class="fa fa-fw fa-book" title="Diary"></i></a>
    <a class="nav-link" [routerLink]="['/Profile']" href=""><i class="fa fa-fw fa-user" title="Profile"></i></a>

</div>
<div class="bg-app h-100 flex-grow" id="main-frame">
  <router-outlet></router-outlet>
</div>
