<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex flex-column" id="main_frame">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span><br>
      <a [routerLink]="['/Introduction']" [queryParams]="{debug: true}" queryParamsHandling="merge">
        Onboarding
      </a>
      <a [routerLink]="['/Home']" [queryParams]="{debug: true}" queryParamsHandling="merge">
        Home
      </a>
      <a [routerLink]="['/Dashboard']" [queryParams]="{debug: true}" queryParamsHandling="merge">
        Dashboard
      </a>
      <a [routerLink]="['/Profile']" [queryParams]="{debug: true}" queryParamsHandling="merge">
        Profile
      </a>
      <a [routerLink]="['/Diary']" [queryParams]="{debug: true}" queryParamsHandling="merge">
        Diary
      </a>
    </div>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
       QUALITY OF LIFE
    <a class="navbar-brand" href="#">
      <img src="./assets/cancer_logo.png" height="50" class="d-inline-block align-top" alt="">
    </a>
  </nav>
  <div class="bg-app h-100 flex-grow" id="main-frame">
    <router-outlet></router-outlet>
  </div>
