<div>
  <h1>Study Search Results</h1>
  <div *ngIf='!$StudyResponse.$NStudies'>
    <span class="label label-info"><i class="fa fa-fw fa-sm fa-spinner" title="Simple Example"></i>Loading Studies ...</span>
  </div>
  <div *ngIf='$StudyResponse.$NStudies'>
    <p><span class="label label-default">Found: <span class="badge badge-dark">{{$StudyResponse.$NStudies.Found}}</span></span></p>
    <p><span class="label label-default">Returned: <span class="badge badge-dark">{{$StudyResponse.$NStudies.Returned}}</span></span></p>
    <p><span class="label label-default">Available: <span class="badge badge-dark">{{$StudyResponse.$NStudies.Avail}}</span></span></p>
    <div>
      <p>Search Parameter</p>
      <p><span class="label label-default">Expression: <span class="badge badge-dark">{{$StudyResponse.$Expression}}</span></span></p>
      <p><span class="label label-default">Fields: <span *ngFor="let field of $StudyResponse.$Fields" class="badge badge-dark" >{{field}}</span></span></p>
    </div>
    <!--<sfr-list [studies]="$StudyResponse.$Studies"></sfr-list>-->
  </div>
</div>
