<div *ngIf="slideNumber==1" style="margin:8px;background:#CCC;border-radius:25px">
<div style="font-weight: bold;text-align:center;padding:12px">
  Appointments of today
  <div style="font-size:10pt;font-weight:normal;text-align:left;">
    <div>08-10 CT @Universitätsklinkum Erlangen</div>
    <div>16-18 Go for Tea with mummy</div>
    </div>
    </div>
</div>
<div *ngIf="slideNumber==2" style="margin:8px;background:#FAA;border-radius:25px">
<div style="font-weight: bold;text-align:center;padding:12px">
  Medication Alert
  <div style="font-size:10pt;font-weight:normal;text-align:left;">
    <div>Your blister of Amoxicillin is coming to an end.</div>
    <div style="font-size:10pt;font-weight:bold;">Please check your local pharmacy.</div>
    </div>
    </div>
</div>
