<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Psychology &mdash; Der digitale Weg zur Therapie</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	{% load static %}
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static "css/animate.css" %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static "css/flexslider.css" %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
  <!-- <script type="text/javascript" src="http://livejs.com/live.js"></script> -->
	</head>
	<body>

	<!--<div class="fh5co-loader"></div>-->

	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-xs-6">
						<div id="fh5co-logo" style="margin-bottom:-20px" ><div style="width:15%;height:100%;margin-right: 2%;float: left;"><img style="width: 100%;height: auto;"  src="{% static "/images/logo_one.png" %}" id="logo-img" ></div>
											<div style="width:83%; float: left;vertical-align:top;"><div  style="vertical-align:top"><a href="index.html" style="vertical-align:top;padding:0px">Psychology</a></div><div style="font-size:10pt;margin-top:-10px;margin-bottom:0px;"> Der digitale Weg zur Therapie</div></div></div>
					</div>
					<div class="col-xs-6 text-right menu-1">

						<ul>
							{% if user.is_authenticated %}
							<li class="has-dropdown">
								{% else %}
							<li class="active has-dropdown">
								{% endif %}
								<a href="#" class="a_underlined" >Patienten</a>
								<ul class="dropdown">

									{% if user.is_authenticated %}
									<li><a class="isDisabled"  href="/create_ticket/create">Ticket erstellen</a></li>
									<li><a class="isDisabled" href="/create_ticket/request_own_ticket">Status Einsehen</a></li>
									{% else %}
										<li><a href="/create_ticket/create" >Ticket erstellen</a></li>
										<li><a href="/create_ticket/request_own_ticket">Status Einsehen</a></li>
											{% endif %}
											<li><a href="/create_ticket/startpage"  >Informationen</a></li>
										</ul>

							</li>
							{% if user.is_authenticated %}
							<li class="active has-dropdown">
								{% else %}
							<li class="has-dropdown">
								{% endif %}
								<a href="#" class="a_underlined">Therapeuten</a>
								<ul class="dropdown">
									{% if user.is_authenticated %}
									<li><a href="{% url 'logout' %}">Abmelden</a></li>
									<li><a href="/accounts/view_profile">Mein Profil</a></li>
									<li><a href="/create_ticket/view_tickets">Dashboard</a></li>
									{% else %}
									<li><a href="{% url 'login' %}">Anmelden</a></li>
									<li><a href="/accounts/signup">Registrierung</a></li>
									{% endif %}
									<li><a href="/create_ticket/start">Informationen</a></li>
								</ul>
							</li>
							<li><a  href="/create_ticket/startpage" class="a_underlined">Informationen</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>
	 {% if user.is_authenticated %}
	<div class="container-wrap" style="margin-top:-12px" ><div class="container-fluid" style="background:#fff;">
		<div class="row">
			<div class="col-md-12 col-md-offset-3 col-md-pull-3 ">
				<div  style="text-transform:uppercase; font-size:10pt;color:#333">
					<span style="float: left">{{ user.profile.unresponded_tickets }} OFFENE{% if user.profile.unresponded_tickets == 1 %}S{% endif %} TICKET{% if user.profile.unresponded_tickets != 1 %}S{% endif %} | {{ user.profile.responded_tickets }} BEARBEITETE{% if user.profile.responded_tickets == 1 %}S{% endif %} TICKET{% if user.profile.responded_tickets != 1 %}S{% endif %} </span>
						 <span style="float:right;">  ANGEMELDET als {{ user.username }}  |  <a   href="{% url 'logout' %}" style="color:#3A3;"> ABMELDEN</a><span>
				</div>
			</div>
		</div>
	</div>	</div>
	{% endif %}

	<div class="container-wrap">
		<aside id="fh5co-hero">
				<div class="flexslider" id="myslider" >
					<ul class="slides">
				   	<li >
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-12 col-md-offset-3 col-md-pull-3 slider-text" style="background:#EEE;padding:0px">
					   				<!--<div class="slider-text-inner">-->
											{% block content %}
											{% endblock %}
					   				<!--</div>-->
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</aside>




	<!-- END container-wrap  <div class="container-wrap"> </div>-->
<br></br>
<br></br>

		<footer id="fh5co-footer" role="contentinfo">
			<div class="row">
				<div class="col-md-6 fh5co-widget text-center">
					<h4>Über Psychology</h4>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-6 text-center">
					<h4>Impressum</h4>
					<ul class="fh5co-footer-links ">
						<li>Christoph Speier, 123 Fake Street, 99999 Erlangen<br> Tel.:<a href="tel://1234567920">+ 1235 2355 98</a> Email:<a href="mailto:info@yoursite.com">info@yoursite.com</a> </li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved. Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></small>
					</p>
					<p>
						<!--
   					<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul> -->
					</p>
				</div>
			</div>
		</footer>
	</div><!-- END container-wrap -->


	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script src="{% static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Flexslider -->
	<script src="{% static "js/jquery.flexslider-min.js" %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/magnific-popup-options.js" %}"></script>
	<!-- Counters -->
	<script src="{% static "js/jquery.countTo.js" %}"></script>
	<!-- Main -->
	<script src="{% static "js/main.js" %}"></script>

	</body>
</html>
