<div >
<div style="background:white;padding:8px" (click)="toggleWidgetMode()">

<div style="font-size:10pt;font-weight:bold">Welcome Susanne!</div>
<div style="height:40px">
<div style="width:84%;display:inline-block">
<div style="margin-botton:8px;margin-top:6px;width:85%;background:#AA0000;height:3px" [style.width]="(diary.Entries[diary.Entries.length-1].HWPL_Value.H).toString()+ '%'"></div>
<div style="margin-botton:8px;margin-top:6px;width:72%;background:#00AA00;height:3px" [style.width]="(diary.Entries[diary.Entries.length-1].HWPL_Value.W).toString() + '%'"></div>
<div style="margin-botton:8px;margin-top:6px;width:60%;background:#0000AA;height:3px" [style.width]="(diary.Entries[diary.Entries.length-1].HWPL_Value.P).toString() + '%'"></div>
<div style="margin-botton:8px;margin-top:6px;width:90%;background:#AA0000;height:3px" [style.width]="(diary.Entries[diary.Entries.length-1].HWPL_Value.L).toString() + '%'"></div>
</div>
<div style="width:15%;display:inline-block">
  <img *ngIf="diary.Entries[diary.Entries.length-1].Mood==1" src="../assets/faces/cold.png" style="margin-top:-12px;height:55px">
  <img *ngIf="diary.Entries[diary.Entries.length-1].Mood==2" src="../assets/faces/sick.png" style="margin-top:-12px;height:55px">
  <img *ngIf="diary.Entries[diary.Entries.length-1].Mood==3" src="../assets/faces/happy.png" style="margin-top:-12px;height:55px">
  <img *ngIf="diary.Entries[diary.Entries.length-1].Mood==4" src="../assets/faces/super.png" style="margin-top:-12px;height:55px">
  </div>
  </div>
<div style="font-size:10pt"> Today you feel: {{diary.Entries[diary.Entries.length-1].mood}} </div>

<!--<div class="d-flex justify-content-center ">
   <fa-icon [icon]="faFrown"></fa-icon><input type="range" class="custom-range" id="customRange1" style="margin-left:8px;margin-right:8px;">  <fa-icon [icon]="faSmile"></fa-icon>
  </div> -->
</div>
</div>
<!--
<div *ngIf="!widgetMode">
  <div style="background:white;height:100%;padding:8px" (click)="toggleWidgetMode()">
  <div style="font-size:10pt;font-weight:bold">Welcome Susanne!</div>
  <div style="font-size:10pt"> How are you feeling today? </div>
  <div class="d-flex justify-content-center ">
     <fa-icon [icon]="faFrown"></fa-icon><input type="range" class="custom-range" id="customRange1" style="margin-left:8px;margin-right:8px;">  <fa-icon [icon]="faSmile"></fa-icon>
    </div>
  </div>
  <div style="font-size:10pt;font-weight:bold">Welcome Susanne!</div>
  <div style="font-size:10pt"> How are you feeling today? </div>


</div>
-->
