<div>
<app-welcome></app-welcome>
<app-quote></app-quote>
<div>
  <img src="../assets/apps/appsmulit.png">
  </div>
  <!--<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="50%">Label</th>
          <th width="50%">Icon</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of module.Entries">
          <td width="50%">{{ entry.Label }}</td>
          <td width="50%">{{ entry.Icon }}</td>
        </tr>
      </tbody>
    </table>
  </div>-->

</div>
